@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  zoom: 72%;
}

nav {
  background: rgb(17, 123, 221);
  padding: 20px;
  margin-bottom: 30px;
}

#app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  margin-bottom: 5px;
}

h2 {
  color: #fff;
}

input {
  margin-bottom: 1em;
}

#imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-zone {
  width: 453px;
  height: 906px;
  border: 2px dashed #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 auto;
  margin-bottom: 20px;
}

.splitImage {
  object-fit: contain;
  margin: 5px;
  border: 1px solid orange;
}

.buttons {
  margin-bottom: 10px;
}

button {
  background: rgb(17, 123, 221);
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 400px) {
  .splitImage {
    max-width: 200px;
  }
}

.highlight {
  background: rgba(129, 218, 245, 0.1);
}

.hidden {
  display: none;
}

.disable {
  background: rgba(17, 122, 221, 0.396);
}

.cr-boundary {
  border: 3px solid black;
}

/* ====================   log in ================================ */
.login,
.signup {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  min-width: 500px;
}

.form-section h1 {
  font-size: 48px;
  margin-bottom: 16px;
}

.form-section p {
  color: #666666;
  font-size: 22px;
}

.login-subtitle {
  margin-bottom: 38px;
}

.login-form,
.signup-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.login-form label,
.signup-form label {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  margin-bottom: 24px;
  gap: 14px;
}

.login-form label p,
.signup-form label p {
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.login-form label input,
.signup-form label input {
  width: 500px;
  border: 2px solid #d8d8d8;
  border-radius: 6px;
  padding: 18px 22px;
  font-size: 20px;
}

.login-form label input:focus,
.signup-form label input:focus {
  outline: none;
  border-color: #d7d7d7;
}

.login-form button,
.signup-form button {
  background: #04477b;
  font-size: 22px;
  padding: 18px;
}

.signup-link {
  margin: 0 auto;
  font-size: 18px;
  color: #666;
}

.signup-link a {
  color: #04477b;
  text-decoration: none;
  font-weight: 600;
}
